* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
  color: #444;
}
/* *********************** */
/* HERO SECTION */
/* *********************** */
.section-hero {
  /* background-color: orangered; */
  height: 90vh;
  position: relative;

  background-image: linear-gradient(
      to right bottom,
      rgba(157, 78, 235, 0.3),
      rgba(85, 13, 152, 0.3)
    ),
    url("./images/banner.jpeg");
  background-size: cover;
  color: #fff;
}
.hero {
  width: 1050px;
  position: absolute;
  /* In a relation to the parent: */
  left: 49%;
  top: 60%;
  /* In a relation to the element size: */
  transform: translate(-50%, -50%);
  /* background-color: violet; */
}
.hero-text-box {
  width: 50%;
  /* background-color: blue; */
}
.heading {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 18px;
  font-size: 62px;
}
.btn {
  background-color: #fff;
  display: block;
  width: 55px;
  height: 11px;
  margin-top: 27px;
}
